@import "../../index";

.about {
  margin: 4rem $leftRightPadding;

  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: space-between;
}

.about_desc {
  text-align: left;
  font-size: 1.5rem;
  line-height: 1.875rem;
  letter-spacing: 0;
  color: $darkWhite;
  opacity: 1;
}

.about_head {
  text-align: left;
  font-weight: medium;
  font-size: 1.875rem;
  margin-bottom: 1em;

  letter-spacing: 0;
  color: $white;
  text-transform: uppercase;
  opacity: 1;
}

.about_connect_link {
  display: block;
  margin-bottom: 1em;

  .fas {
    width: 1em;
  }
}