@import "../../index";

.about {
  margin: 8.5265rem $leftRightPadding;

  display: grid;
  grid-template-columns: 33.1875rem auto;
  grid-column-gap: 10%;

  .about-desc {
    text-align: left;
 
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0;
    color: $darkWhite;
    opacity: 1;
  }
}
