@import "../../index";

.about {
  margin: 8.5265rem $leftRightPadding;

  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: space-between;

  .about-desc {
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.875rem;
    letter-spacing: 0;
    color: $darkWhite;
    opacity: 1;
  }
  .about-head {
    text-align: left;
    font-weight: medium;
    font-size: 1.875rem;
    margin-bottom: 1em;

    letter-spacing: 0;
    color: $white;
    text-transform: uppercase;
    opacity: 1;
  }
  .about-connect-link{
      display: block;
      margin-bottom: 1em;

      .fas{
          width: 1em;
      }
  }
}
