
@import "../../index";
.home {
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;

 

    .home_name{
        text-align: center;
        line-height: 1.4em;
        font-size: 5rem;
        font-weight: 500;
        margin-top: 11.6875rem;
        color: $primaryColor;
    }
}