@import "../../index";
.nav {
    display: flex;
    padding: 1.5em 7vw;
    justify-content: space-between;
    align-items: center;
    color: white;
    transition: 0.4s ease all;
    z-index: 1000;
    position: sticky;
    top: 0;



    .nav_brand {
        font-weight: Medium;
        font-size: 2rem;
        
    }

    .nav_items {
        padding: 0 0 0.25em;
        cursor: pointer;
        margin: 0 0 0 2.5em;
        font-size: 2rem;
        font-weight: Medium;
        color:white;
    }

    .nav_array_active {
        color: $headerColor;   
    }

}

// .scroll {
//     background: white;
//     color: black;
//     padding: 1em 7vw;
//     box-shadow: 0px 2px 6px rgba(110, 110, 110, 0.34);

//     .nav_array_active {
//         &::after {
//             border-bottom-color: black;
//         }
//     }
// }