@import "../../index";
.nav {
    display: flex;
    padding: 1.5rem $leftRightPadding;
    justify-content: space-between;
    align-items: center;
    color: $white;
    transition: 0.4s ease all;
    z-index: 1000;
    position: sticky;
    top: 0;
    

    .nav_brand {
        font-weight: Medium;
        font-size: 2rem;
        
    }

    .nav_margin{
        margin: 0 0 0 2.5em;
    }

    .nav_items {
        padding: 0 0 0.25em;
        cursor: pointer;

        font-size: 2rem;
        font-weight: Medium;
        color:$white;
    }

    .nav_array_active {
        color: $primaryColor;   
    }

}

 