@import "../../index.scss";

.heading {
  text-align: left;
  font-weight: 400;
  font-size: 1.625rem;
  line-height: 2.0625rem;
  letter-spacing: 0;
  color: $liteWhite;
  text-transform: uppercase;
  opacity: 1;
}
