.projects {
  display: flex;
  flex-direction: row;
  margin: 1.875rem 6.25rem;
  .projects_unit {
    background: #2e2e2e 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 49.1875rem;
    width: 23.9375rem;

    .project_image {
      width: 100%;
    }

    .project_details {
      padding: 0em 2.0625rem;
    }

    .project_title {
      text-align: left;
      font-size: 1.625rem;
      letter-spacing: 0;
      color: #ffffff;
      text-transform: uppercase;
      opacity: 1;
      padding-top: 0.625rem;
    }

    .project_description {
      text-align: left;
      font-size: 1.5rem;
      letter-spacing: 0;
      color: #a1a1a1;
      opacity: 1;
      padding-top: 0.625rem;
    }

    .project_links {
        margin-top: 2.3125rem;
      button {
        font-size: 18px;
        letter-spacing: 0;
        color: #ffffff;
        text-transform: uppercase;
        opacity: 1;
        border: none;
        background: none;
        margin:0;
        padding:0;
        cursor : pointer;
        margin-right: 1.875rem;
      }
    }
  }
}
